@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<h3>Add An Engineer for @Html.DisplayFor(model => model.Name)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")
  <input type="submit" value="Save" class="btn btn-info">
}
<p>@Html.ActionLink($"Back To {Model.Name}'s Details", "Details", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back To List Of Machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>